@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700");
@font-face {
  font-family: "aleo";
  src: url("fonts/aleo-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.cls-2 {
  fill: #ffffff;
}

.cls-1 {
  fill: #5474fd;
}

.cls-3 {
  fill: #ff6363;
}

.cls-4 {
  fill: #00a2ff;
}

.clearfix::after {
  content: "";
  clear: both;
}

body {
  margin: 0;
}
body .section-inner {
  width: 1112px;
  margin: 0 auto;
  box-sizing: border-box;
  height: 100%;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 400;
}
body .section-inner .logo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}
body .section-inner a {
  text-decoration: none;
  color: white;
  font-family: aleo, sans-serif;
  font-weight: normal;
}
body .section-inner a.btn {
  display: block;
  box-sizing: border-box;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  color: white;
  height: 60px;
  width: 224px;
  background: linear-gradient(45deg, #496bfe 0%, #496bfe 45%, #5474fd 45%, #5474fd 100%);
}
body .section-inner a:hover:not(.btn) {
  text-shadow: 4px 4px 2px #74fff2;
}
body .section-inner a.btn:hover {
  height: 65px;
  width: 229px;
  line-height: 65px;
  background: linear-gradient(45deg, #5474fd 0%, #5474fd 45%, #496bfe 45%, #496bfe 100%);
  -webkit-box-shadow: -2px 7px 30px 0px #e8e8e8;
  -moz-box-shadow: -2px 7px 30px 0px #e8e8e8;
  box-shadow: -2px 7px 30px 0px #e8e8e8;
}
body .section-inner a:visited:not(.btn) {
  color: #74FFF2;
}
body .section-inner p {
  margin: 0 0 44px;
  line-height: 26px;
}
body .section-inner .country-pres {
  box-sizing: border-box;
  width: 540px;
  height: 370px;
  background: rgba(57, 57, 57, 0.9);
  padding: 50px 30px;
}
body .section-inner h2 {
  text-transform: capitalize;
  font-size: 36px;
  margin-top: 0;
  font-family: aleo, sans-serif;
  font-weight: normal;
}
body .section-inner h3 {
  text-transform: uppercase;
  font-size: 20px;
  margin: 35px 0 30px;
}
body .s1 {
  padding-top: 167px;
  height: 100vh;
  min-height: 740px;
  background: #a9b5c8 url("img/s1.jpg") no-repeat center;
  background-size: cover;
  box-sizing: border-box;
}
body .s1 .section-inner {
  text-align: center;
}
body .s1 h1 {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 25px;
}
body .s1 .under-title {
  font-size: 22px;
  letter-spacing: 0.2em;
  font-weight: 400;
}
body .s1 .search-form {
  margin-top: 50px;
}
body .s1 .search-form div {
  display: inline-block;
}
body .s1 .search-form div [type=text] {
  height: 60px;
  width: 500px;
  border: 2px solid white;
  background: white;
  color: #3c3c3c;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 0.2em;
}
body .s1 .search-form .search-button {
  position: relative;
}
body .s1 .search-form .search-button img {
  position: absolute;
  left: 110px;
  top: 14px;
}
body .s1 .search-form .search-button [type=submit] {
  height: 60px;
  width: 150px;
  border: 2px solid white;
  background: #5474fd;
  margin: -5px;
  color: white;
  text-transform: uppercase;
}
body .s1 .scroll {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  display: block;
  width: 104px;
  color: white;
  line-height: 35px;
  margin: 120px auto;
  letter-spacing: 0.2em;
}
body #head {
  height: 80px;
  background: #5474fd;
}
body #head .section-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
body #head .section-inner ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}
body #head .section-inner ul li a {
  margin-left: 20px;
  font-size: 14px;
  color: white;
}
body .s2 {
  min-height: 685px;
  padding-top: 120px;
  background: #a9b5c8 url("img/Rectangle 7.jpg") no-repeat center;
  background-size: cover;
  box-sizing: border-box;
}
body .s2 .section-inner .explore {
  float: left;
  width: 540px;
  box-sizing: border-box;
  margin-top: 78px;
}
body .s2 .section-inner .explore h2 {
  margin-bottom: 70px;
}
body .s2 .section-inner .images {
  width: 475px;
  float: right;
}
body .s2 .section-inner .images [alt="great mount"] {
  margin-left: 125px;
}
body .s3 {
  background: #333333;
  height: 337px;
  padding-top: 15px;
  box-sizing: border-box;
}
body .s3 .link-bar {
  padding-top: 60px;
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background: url("img/Shape 1.png") no-repeat 49% 22%;
}
body .s3 .link-bar a {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  line-height: 60px;
}
body .s3 .link-bar a svg {
  border: solid 15px #333333;
  display: block;
  background: #333333;
}
body .s4 {
  min-height: 700px;
  padding-top: 230px;
  background: #ffe985 url("img/Rectangle 414.jpg") no-repeat center;
  background-size: cover;
  box-sizing: border-box;
}
body .s5 {
  min-height: 700px;
  padding-top: 230px;
  background: #c87d31 url("img/Rectangle 4141.jpg") no-repeat center;
  background-size: cover;
  box-sizing: border-box;
}
body .s5 .country-pres {
  float: right;
}
body .s6 {
  min-height: 730px;
  padding-top: 120px;
  background: #3b3b3b url("img/bg6.jpg") no-repeat center;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}
body .s6 h2 {
  text-align: center;
  padding-bottom: 90px;
}
body .s6 .review {
  width: 1110px;
  box-sizing: border-box;
  background: #333333;
  display: flex;
}
body .s6 .review .text-block {
  padding: 0 40px;
}
body .s6 .review .text-block p:first-letter {
  color: #186899;
  margin-right: 10px;
  font-size: 20px;
}
body footer {
  min-height: 268px;
  background: #333333;
  padding-bottom: 53px;
}
body footer .section-inner {
  height: 268px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
body footer .section-inner p {
  margin: 20px 0 15px;
}
body footer .section-inner .link-bar a:not(.first) {
  margin-left: 15px;
}

/*# sourceMappingURL=main.css.map */
