@import 'bootstrap/bootstrap-reboot';
@import 'bootstrap/bootstrap';
@import 'bootstrap/bootstrap-grid';
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Lato:400,900i');

@mixin btn($margin) {
  background-color: #eee30c;
  border-color: #eee30c;
  border-radius: 14px;
  width: 120px;
  height: 33px;
  line-height: 1;
  margin-left: $margin;
  color: #299fca;
  &:hover {
    transform: scale(1.08);
    transition: 0.1s 0.1s ease-in;
    transition-property: transform;
  }
}
@mixin link($trans, $color, $f-z) {
  text-decoration: none;
  text-transform: $trans;
  color: $color;
  font-size: $f-z;
  &:hover {
    transform: scale(1.08);
    transition: 0.1s 0.1s ease-in;
    transition-property: transform;
  }
}

body {
  background: #127ea5 url("../img/bg.png");
  background-size: cover;
  font-family: 'Lato', serif;
  h2 {
    font-family: 'Luckiest Guy', cursive;
  }
  h3 {
    font-family: 'Lato', serif;
    font-style: italic;
    font-weight: bold;
  }
  .pos-absolute {
    position: absolute;
  }
  .pos-relative {
    position: relative;
  }
  .section-inner {
    width: 80%;
    margin: 0 auto;

  }
  .flex {
    display: flex;
  }
  header {
    .section-inner {
      .nav-bar {
        background: url("../img/topmenu_bg.png") top no-repeat;
        background-size: contain;
        align-items: baseline;
        display: flex;
        justify-content: space-around;
        @media (max-width: 1040px) {
          background: #4cb2e7;
          border-radius: 20px;
          border: 7px solid #7ebee0;
          height: 70px;
        }
        a {
          color: white;
        }
        .my-style {
          color: #299fca;
          width: 250px;
          height: 150px;
          background: #e1ecf2;
          border: 8px solid white;
          border-radius: 10px;
          margin-top: -39px;
          transform: rotate(-15deg);
          padding: 30px 10px;
          text-align: center;
          &:hover {
            transform: rotate(15deg);
            transition: 0.2s 0.2s ease-in;
            transition-property: transform;
          }
          @media (max-width: 1040px) {
            width: 216px;
            height: 97px;
            padding: 0;
            margin-top: -10px;
            transform: rotate(-8deg);
            text-align: center;
            &:hover {
              transform: rotate(8deg);
              transition: 0.2s 0.2s ease-in;
              transition-property: transform;
            }
          }
          span {
            font-size: 14px;
          }
        }
        ul {
          margin: 0;
          padding: 0;
          &.visible {
            display: block;
            background: #299fca;
            border-radius: 25px;
            z-index: 4;
            @media (max-width: 426px) {
              border-radius: 6px;
              font-size: 10px;
            }
          }
          @media (max-width: 1040px) {
            display: none;
          }
          li {
            display: inline-block;
            margin-right: 20px;
            @media (max-width: 1040px) {
              display: block;
            }
          }
          a:hover {
            color: #eee30c;
            text-decoration: none;
          }
        }
        .hamburger {
          height: 4px;
          width: 18px;
          background: #eee30c;
          display: none;
          float: right;
          position: relative;
          margin-top: 8px;
          &.menu-opened {
            background: none;
            &:before {
              transform: rotate(45deg);
              top: 0;
            }
            &:after {
              transform: rotate(-45deg);
              bottom: 0;
            }
          }
          @media (max-width: 1040px) {
            display: block;
          }
          &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            height: 4px;
            width: 18px;
            background: #eee30c;
            left: 0;
          }
          &:before {
            top: -8px;
          }
          &:after {
            bottom: -8px;
          }
        }
      }
    }
  }
  .s1 {
    margin-top: -17px;
    @media (max-width: 2560px) {
      justify-content: space-around;
    }
    @media (max-width: 1280px) {
      margin-top: 10px;
    }
    @media (max-width: 920px) {
      margin-top: -30px;
    }
    .section-inner {
      display: flex;
      @media (max-width: 1040px) {
        width: 100%;
      }
      @media (max-width: 768px) {
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
      }
      .fly-propose.pos-relative {
        width: 652px;
        height: 314px;
        background: url("../img/cloud.png") no-repeat center right;
        background-size: 90%;
        padding: 1px;
        display: inline-block;
        margin-top: 100px;
        z-index: 2;
        @media (max-width: 426px) {
          background-position: center;
          background-size: 90%;
        }
        img.pos-absolute {
          top: 39px;
          left: 6px;
          @media (max-width: 426px) {
            width: 41%;
            left: 18px;
          }
        }
        #carouselExampleControls {
          width: 314px;
          overflow: hidden;
          height: 280px;
          margin: 108px 0 0 271px;
          @media (max-width: 426px) {
            width: 280px;
            height: 159px;
            margin: 93px 0 0 84px;
          }
          .carousel-control-prev {
            top: 32px;
            left: 82.4px;
            @media (max-width: 1280px) {
              top: -31px;
              left: 7.4px;
              @media(max-width: 426px) {
                top: -82px;
                left: 4.4px;
              }
              img {
                width: 30px;
              }
            }
          }
          .carousel-control-next {
            top: 47px;
            left: 181.4px;
            @media (max-width: 1280px) {
              top: -55px;
              left: 200.4px;
              @media(max-width: 426px) {
                top: -88px;
                left: 205.4px;
              }
              img {
                width: 30px;
              }
            }
          }
          .country {
            width: 314px;
            height: 128px;
            text-align: center;
            @media (max-width: 1280px) {
              width: 260px;

            }
            h2 {
              color: #127ea5;
            }
            p {
              font-family: 'Lato', serif;
              color: #ded90e;
              font-weight: bold;
              font-style: italic;
              font-size: 18px;
            }
          }
        }
      }
    }
    form {
      z-index: 2;
      height: 550px;
      width: 350px;
      display: inline-block;
      vertical-align: top;
      background: #299fca url("../img/ladder.png") no-repeat 12% 100%;
      box-sizing: border-box;
      border: 8px solid #7ebee0;
      border-radius: 14px;
      padding: 100px 30px;
      color: white;
      margin-left: 12px;
      @media (max-width: 1280px) {
        width: 300px;
      }
      &:before {
        content: url("../img/Online Booking.png");
        position: absolute;
        top: 26px;
        right: 126px;
        @media (max-width: 1280px) {
          left: -30px;
        }
      }
      .disp-flex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
      }
      input, select {
        width: 160px;
      }
      .btn-primary {
        @include btn(150px);
        @media (max-width: 1280px) {
          @include btn(100px)
        }
      }
      .my-border {

        border: 4px solid #7ebee0;
        border-radius: 8px;
      }
    }
  }
  .clouds {
    height: 460px;
    background: #127ea5;
    @media (max-width: 1034px) {
      height: 700px;
    }

    .relative {
      width: 100%;
      height: 100%;
      position: relative;
      .decoration {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 100% auto;
        &:nth-child(1) {
          background-image: url("../img/cloud 1_1.png");
          background-size: cover;
          right: 0;
          top: -63px;
          z-index: 3;
          @media (max-width: 920px) {
            top: 20px;
          }
        }
        &:nth-child(2) {
          background-image: url("../img/cloud 2.png");
          background-size: cover;
          right: 0;
          top: -238px;
          z-index: 1;
        }
      }
    }
  }
  .s3 {
    .section-inner {
      top: -327px;
      left: 10%;
      z-index: 4;
      display: flex;
      justify-content: space-between;
      @media (max-width: 1280px) {
        width: 98%;
        left: 1%;
        flex-wrap: wrap;
      }
      @media (max-width: 1034px) {
        width: 700px;
        top: -593px;
        justify-content: center;
        flex-wrap: wrap;
        left: 0;
        right: 0;
      }
      @media(max-width: 426px) {
        width: 400px;
        top: -670px;
        justify-content: center;
        left: 0;
        right: 0;
      }
      .special, .tabs-summer {
        width: 500px;

      }
      .special {
        h2 {
          color: white;
          font-size: 20px;
          text-transform: capitalize;
          font-style: italic;
          flex-grow: 2;
        }
        .my-card {
          color: white;
          max-width: 458px;
          height: 120px;
          @media (max-width: 426px) {
            max-width: 310px;
          }
          &:nth-child(2) {
            border-bottom: dotted #cccccc;
          }
          .media {
            width: 458px;
            @media (max-width: 426px) {
              width: 310px;
            }
            .media-body {
              @media (max-width: 426px) {
                width: 310px;
              }
            }
          }
          .btn.btn-primary {
            @include btn(240px);
            @media (max-width: 426px) {
              @include btn(170px);
            }
          }
        }
      }
      .tabs-summer {
        @media (max-width: 426px) {
          width: 405px;
          height: 300px;
          overflow: auto;
        }
        .offer {
          width: 176px;
          height: auto;
          top: -65px;
          left: 65%;
          @media (max-width: 920px) {
            display: none;
          }

        }
        ul.nav.nav-tabs {
          border-bottom: 1px solid #81ffff;
          a.nav-link {
            width: 117px;
            margin-left: 12px;
            text-align: center;
            height: 30px;
            background: #299fca;
            color: #81ffff;
            line-height: 1.7;
            padding: 0;
            border: 0;
            border-bottom: 1px solid #81ffff;
            &.active {
              background: #81ffff;
              color: #299fca;
            }
          }
        }
        div.tab-content {
          a.row {
            @include link(uppercace, white, 16px);
            &:hover {
              color: #b7deed;
            }
          }
          div.container {
            img {
              width: 150px;
              height: auto;
              margin-top: 6px;
              &:hover {
                transform: scale(1.08);
                transition: 0.2s 0.2s linear;
                transition-property: transform;
              }
            }
          }
        }
      }
    }
  }
  .s4 {
    .tours {
      width: 400px;
      opacity: 1;
      a {
        @include link(uppercace, #127ea5, 16px);
        display: block;
        margin-top: 6px;
        &:hover {
          background: rgba(46, 156, 221, 0.2);
          transition: 0.7s;
        }
        img {
          width: 100px;

        }
      }
    }
    #map {
      height: 500px;
      opacity: 0.8;
      background-color: #127ea5;
    }
    .head {
      margin-top: 10px;
      top: 0;
      left: 35%;
      color: #127ea5;
      h2 {
        font-size: 32px;
      }
      h3 {
        font-size: 20px;
        text-align: center;
      }
    }
  }
  .s6 {
    padding: 30px;
    h2 {
      text-align: center;
      color: #ded90e;
    }
    background: #7ebee0 url(../img/earth.png) no-repeat center;
    background-size: 53%;
    .reviews {
      padding: 50px 0;
      display: flex;
      justify-content: center;
      .row-cont {
        font-size: 0;
      }
    }
    .wrapper3d {
      width: 300px;
      height: 300px;
      perspective: 800px;
      transform-style: preserve-3d;
      position: relative;
      @media (max-width: 1025px) {
        width: 200px;
        height: 200px;
        @media (max-width: 426px) {
          width: 110px;
          height: 110px;
          font-size: 10px;
        }
      }
      &:hover {
        .front {
          transform: rotateY(-180deg);
        }
        .back {
          transform: rotateY(0deg);
        }
      }
      &:before {
        content: ""; //padding hack
        display: block;
        padding-bottom: 100%;
      }
    }
    .front, .back {
      transition: transform 0.6s ease-in, background 0.6s ease-in;
      top: 0;
      left: 0;
      position: absolute;
      transform-style: preserve-3d;
      backface-visibility: hidden;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .front {
      background-color: #dbdbdb;
      z-index: 2;
    }

    .back {
      z-index: 1;
      transform: rotateY(180deg);
      background-color: rgba(0, 0, 0, 0.2);
      img {
        height: 100%;
        width: 100%;
      }
    }

    .wrapper3d .bg-light {
      background-color: #ebebeb;
    }

    .first-col,
    .second-col,
    .third-col {
      width: 33.3333%;
      font-size: 18px;
      display: inline-block;
    }
  }
  .s5 {
    padding-top: 24px;
    background: #127ea5;
    .section-inner {
      display: flex;
      justify-content: space-between;
      @media (max-width: 426px) {
        flex-wrap: wrap;
      }
      .btn-blue {
        width: 90px;
        height: 32px;
        border-radius: 3px;
        background: #d6e6ef;
        color: #1380a7;
        border: 1px solid #d6e6ef;
      }
      h3 {
        font-size: 25px;
        color: #ffffff;
        margin-bottom: 18px;
      }
      .flex-inner:nth-child(1) {

        input {
          display: block;
          border: 2px solid #0f6686;
          background: #0f6686;
          height: 32px;
          width: 193px;
          margin-bottom: 13px;
          border-radius: 7px;
        }
        .btn-blue {
          margin-left: 10px;
        }
        a {
          display: inline-block;
          margin-left: 10px;
          width: 40px;
          height: 40px;
          background: #3bb3de;
          border-radius: 20px;
          line-height: 2.5;
          text-align: center;
          i {
            font-size: 20px;
            color: #9ad7ee;
            &:hover {
              color: #0f6686;
            }
          }
        }
      }
      .flex-inner:nth-child(2) {
        p {
          font-size: 14px;
          color: #ffffff;
        }
      }
      .flex-inner:nth-child(3) {
        input, textarea {
          display: block;
          border: 2px solid #0f6686;
          background: #0f6686;
          border-radius: 7px;
        }
        input {
          height: 32px;
          width: 193px;
          margin-bottom: 13px;
        }
        .btn-blue {
          margin-top: 10px;
        }
      }
    }
  }
  footer {
    padding-top: 20px;
    background-color: #127ea5;
    text-align: center;
    color: #FFFFFF;
  }
  .scroll.back-to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
    z-index: 5;
    width: 45px;
    height: 61px;
    background: url(../img/air_balloon_PNG19382.png) no-repeat center;
    background-size: 42px;
    opacity: 0.5;
    &.visible {
      display: inline-block;
    }
    &:hover {
      opacity: 1;
    }
  }
}



